<div class="container">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="navbar-header">
        <button type="button" data-toggle="collapse" class="navbar-toggler" data-target="#mynav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">Angular 6 with Firebase DB</a>
    </div>
    <div class="collapse navbar-collapse" id="mynav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="user">User</a>
            </li>
        </ul>
    </div>

  </nav>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
